* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
}

.play-area {
  width: 800px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  background-image: url('city-bg.png')
}

canvas {
  margin: 0;
  position: absolute;
}

.text-display {
  width: 500px;
  margin: 10px auto;
  height: 450px;
}

.logo {
  width: 150px;
  float: left;
}

h1 {
  text-align: left;
}

.text-box {
  background-color: rgba(255,255,255,.6);
  width: 400px;
  height: 200px;
  border: 1px solid;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;

}

footer {
  margin-bottom: 0;
}