* {
  padding: 0;
  margin: 0;
}

.play-area {
  width: 800px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  background-image: url('sample-canvas-bg.png')
}

canvas {
  margin: 0;
  position: absolute;
  /*background-color: #eee;*/
}

